#ignore everything
*

#preserve file heirarchy
!*/

!*.cpp
!*.hpp
!*.test
!*.txt
!*.html
!*.css
!*.js
!*.vcxproj
!*.conf
!README
!LICENSE
!.gitignore
!.gitattributes
!*.md
!meson.build

# ignore builds
*[Bb]uild*
